<!DOCTYPE html>
<!--
 - SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
 - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing Page</title>
  </head>
  <body>
    <header id="header" style="height: var(--header-height); width: 100%; position: absolute;"></header>
    <div id="content">
      <main id="app-content">
        <div id="root"></div>
      </main>
    </div>
    <script type="module" src="./index.ts"></script>
  </body>
</html>
