/*!
 * SPDX-FileCopyrightText: 2020 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

body .dp__main {
	@import '@vuepic/vue-datepicker/dist/main.css';
}

body {
	/*General*/
	--dp-font-family: var(--font-face);
	--dp-border-radius: var(--border-radius);
	--dp-cell-border-radius: var(--border-radius);
	--dp-common-transition: all 0.1s ease-in; /*Generic transition applied on buttons and calendar cells*/

	/*Sizing*/
	--dp-button-height: var(--default-clickable-area); /*Size for buttons in overlays*/
	--dp-month-year-row-height: var(--default-clickable-area); /*Height of the month-year select row*/
	--dp-month-year-row-button-size: var(--default-clickable-area); /*Specific height for the next/previous buttons*/
	--dp-button-icon-height: 20px; /*Icon sizing in buttons*/
	--dp-cell-size: var(--default-clickable-area); /*Width and height of calendar cell*/
	--dp-cell-padding: var(--default-grid-baseline); /*Padding in the cell*/
	--dp-common-padding: calc(2 * var(--default-grid-baseline)); /*Common padding used*/
	--dp-input-icon-padding: var(--default-clickable-area); /*Padding on the left side of the input if icon is present*/
	--dp-input-padding: var(--default-grid-baseline) var(--default-clickable-area) var(--default-grid-baseline) calc(2 * var(--default-grid-baseline)); /* Padding in the input */
	--dp-menu-min-width: 260px; /*Adjust the min width of the menu*/
	--dp-action-buttons-padding: 2px 5px; /*Adjust padding for the action buttons in action row*/
	--dp-row-margin: 5px 0; /*Adjust the spacing between rows in the calendar*/
	--dp-calendar-header-cell-padding: 0.5rem; /*Adjust padding in calendar header cells*/
	--dp-two-calendars-spacing: 10px; /*Space between multiple calendars*/
	--dp-overlay-col-padding: 3px; /*Padding in the overlay column*/
	--dp-time-inc-dec-button-size: var(--default-clickable-area); /*Sizing for arrow buttons in the time picker*/
	--dp-menu-padding: 6px 8px; /*Menu padding*/

	// Font sizes
	--dp-font-size: var(--default-font-size); /* Default font-size */
	--dp-preview-font-size: var(--font-size-small); /*Font size of the date preview in the action row*/
	--dp-time-font-size: var(--font-size-small); /* Font size in the time picker */

	// Transitions
	--dp-animation-duration: 0.1s; /* Transition duration */
	--dp-menu-appear-transition-timing: cubic-bezier(.4, 0, 1, 1); /* Timing on menu appear animation */
	--dp-transition-timing: ease-out; /* Timing on slide animations */
}