/**
 * SPDX-FileCopyrightText: 2020 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

 $cell_height: 32px;
 $opacity_full: 1;

@import 'vue2-datepicker/scss/index';

.mx-datepicker[data-v-#{$scope_version}] {
	user-select: none;
	color: var(--color-main-text);

	svg {
		fill: var(--color-main-text);
	}

	/* INPUT CONTAINER */
	.mx-input-wrapper {
		// input
		.mx-input {
			width: 100%;
			border: 2px solid var(--color-border-maxcontrast);
			background-color: var(--color-main-background);
			background-clip: content-box;

			&:active:not(.disabled),
			&:hover:not(.disabled),
			&:focus:not(.disabled) {
				border-color: var(--color-primary-element);
			}
		}

		&:disabled,
		&.disabled {
			cursor: not-allowed;
			opacity: $opacity_normal;
		}

		.mx-icon-calendar,
		.mx-icon-clear {
			color: var(--color-text-lighter);
		}
	}
}

// Datepicker popup wrapper
.mx-datepicker-main {
	color: var(--color-main-text);
	border: 1px solid var(--color-border);
	background-color: var(--color-main-background);
	font-family: var(--font-face) !important;
	line-height: 1.5;

	svg {
		fill: var(--color-main-text);
	}

	&.mx-datepicker-popup {
		z-index: 2000;
		box-shadow: none;

		.mx-datepicker-sidebar + .mx-datepicker-content {
			border-left: 1px solid var(--color-border);
		}
	}

	&.show-week-number .mx-calendar {
		width: $cell_height * 8 + 2 * 5px + 30px; // week number + 7 days + padding + 30px padding to fit the buttons
	}

	.mx-datepicker-header {
		border-bottom: 1px solid var(--color-border);
	}

	.mx-datepicker-footer {
		border-top: 1px solid var(--color-border);
	}

	.mx-datepicker-btn-confirm {
		background-color: var(--color-primary-element);
		border-color: var(--color-primary-element);
		color: var(--color-primary-element-text) !important;
		opacity: 1 !important;
	}

	.mx-datepicker-btn-confirm:hover {
		background-color: var(--color-primary-element-light) !important;
		border-color: var(--color-primary-element-light) !important;
	}

	// default popup styles
	.mx-calendar {
		width: $cell_height * 7 + 2 * 5px + 30px; // 7 days + padding + 30px padding to fit the buttons
		padding: 5px;
		&.mx-calendar-week-mode {
			width: $cell_height * 8 + 2 * 5px + 30px; // week number + 7 days + padding + 30px padding to fit the buttons
		}
	}

	.mx-time + .mx-time,
	.mx-calendar + .mx-calendar {
		border-left: 1px solid var(--color-border);
	}

	.mx-range-wrapper {
		display: flex;
		overflow: hidden;

		// first active cell, range style on day picker panel only
		.mx-calendar-content .mx-table-date .cell {
			border-radius: var(--border-radius-small);
			&.active {
				border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
			}
			// second selected cell
			&.in-range + .cell.active {
				border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
			}
		}
	}

	// Various panels
	.mx-table {
		text-align: center;

		thead > tr > th {
			text-align: center;
			opacity: $opacity_disabled;
			color: var(--color-main-text);
		}

		// Override table rule from server
		tr:focus,
		tr:hover,
		tr:active {
			background-color: transparent;
		}

		// regular cell style
		.cell {
			transition: all 100ms ease-in-out;
			text-align: center;
			opacity: $opacity_normal;
			border-radius: var(--border-radius-small);
			min-height: var(--clickable-area-small) !important;

			// force pointer on all content
			> * {
				cursor: pointer;
			}

			// Selected and mouse event
			&.today {
				opacity: $opacity_full;
				font-weight: bold;
				background-color: transparent;
				color: var(--color-primary-element);
				border-radius: var(--border-radius-small);
				&:hover,
				&:focus {
					color: var(--color-primary-element-text);
				}
			}
			&.in-range,
			&.disabled {
				border-radius: var(--border-radius-small);
				color: var(--color-main-text);
				opacity: 1;
			}
			&.in-range {
				opacity: $opacity_normal;
			}
			&.not-current-month {
				opacity: $opacity_disabled;
				color: var(--color-text-maxcontrast);
				&:hover,
				&:focus {
					opacity: $opacity_full;
				}
			}

			// hover-/focus after the other rules
			&:hover,
			&:focus,
			&.actived,
			&.active,
			&.in-range {
				opacity: $opacity_full;
				color: var(--color-primary-element-text);
				background-color: var(--color-primary-element);
				font-weight: bold;
			}
			&.disabled {
				opacity: $opacity_full;
				color: var(--color-main-text);
				border-radius: var(--border-radius-small);
			}
		}

		.mx-week-number {
			text-align: center;
			opacity: $opacity_normal;
			border-radius: 50px;
		}

		// cell that are not in a table
		span.mx-week-number,
		li.mx-week-number,
		span.cell,
		li.cell {
			min-height: $cell_height;
		}

		// Standard grid/flex layout for day/month/year panels
		&.mx-table-date thead,
		&.mx-table-date tbody,
		&.mx-table-year,
		&.mx-table-month {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			tr {
				display: inline-flex;
				align-items: center;
				flex: 1 1 $cell_height;
				justify-content: space-around;
				min-height: $cell_height;
				color: var(--color-main-text);
			}
			// Default cell style
			th,
			td {
				display: flex;
				align-items: center;
				// 3 rows with a little spacing
				flex: 0 1 32%;
				justify-content: center;
				min-width: $cell_height;
				// spacing between rows
				height: 95%;
				min-height: $cell_height;
				transition: background 100ms ease-in-out;
				color: var(--color-main-text);
			}
		}
		&.mx-table-year {
			tr th,
			tr td {
				// only two rows in year panel
				flex-basis: 48%;
			}
		}
		&.mx-table-date {
			tr th,
			tr td {
				// only two rows in year panel
				flex-basis: $cell_height;
			}
		}
	}

	// default buttons: header...
	.mx-btn {
		min-width: $cell_height;
		height: $cell_height;
		margin: 0 2px !important; // center also single element. Definitively use margin so that buttons are not touching
		padding: 0;
		cursor: pointer;
		text-decoration: none;
		opacity: $opacity_full;
		color: var(--color-main-text);
		border-radius: var(--border-radius-small);
		line-height: $cell_height - 12px; // padding minus 2px for better visual
		// Mouse feedback
		&:hover,
		&:focus {
			opacity: $opacity_full;
			color: var(--color-main-text);
			background-color: var(--color-background-darker);
		}
	}

	// Header, arrows, years, months
	.mx-calendar-header {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: var(--default-clickable-area);
		margin-bottom: 4px;

		button {
			min-width: $cell_height;
			min-height: $cell_height;
			margin: 0;
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			opacity: $opacity_full;
			color: var(--color-main-text);
			border-radius: var(--border-radius-small);
			background-color: transparent;
			line-height: $cell_height - 12px; // padding minus 2px for better visual

			// Mouse feedback
			&:hover,
			&:focus {
				opacity: $opacity_full;
				color: var(--color-main-text);
				background-color: var(--color-background-darker);
			}

			// Header arrows
			&.mx-btn-icon-double-left,
			&.mx-btn-icon-left,
			&.mx-btn-icon-right,
			&.mx-btn-icon-double-right {
				align-items: center;
				justify-content: center;
				width: $cell_height;
				padding: 0; // leave the centering to flex

				> i {
					// Hide original icons
					&::after, &::before {
						content: none;
					}
					background-repeat: no-repeat;
					background-size: 16px;
					background-position: center;
					filter: var(--background-invert-if-dark);
					display: inline-block;
					width: 32px;
					height: 32px;
				}
			}
			&.mx-btn-text {
				line-height: initial;
			}
		}
		.mx-calendar-header-label {
			display: flex;
			color: var(--color-main-text);
		}
		.mx-btn-icon-double-left > i {
			background-image: url('./chevron-double-left.svg');
		}
		.mx-btn-icon-left > i {
			background-image: url('./chevron-left.svg');
		}

		.mx-btn-icon-right > i {
			background-image: url('./chevron-right.svg');
		}
		.mx-btn-icon-double-right > i {
			background-image: url('./chevron-double-right.svg');
		}
		button.mx-btn-icon-right {
			order: 2;
		}
		button.mx-btn-icon-double-right {
			order: 3;
		}
	}
	// Week panel
	.mx-calendar-week-mode {
		// move focus on row and not on cell
		.mx-date-row {
			.mx-week-number {
				font-weight: bold;
			}
			&:hover,
			&.mx-active-week {
				opacity: $opacity_full;
				border-radius: var(--border-radius-small);
				background-color: var(--color-background-dark);
				td {
					background-color: transparent;
					&, &:hover, &:focus {
						color: inherit;
					}
				}
			}
			&.mx-active-week {
				color: var(--color-primary-element-text);
				background-color: var(--color-primary-element);
				// Remove cell feedback on selected rows
				td {
					opacity: $opacity_normal;
					font-weight: normal;
				}
			}
		}
	}

	// Time panel
	.mx-time {
		background-color: var(--color-main-background);

		.mx-time-header {
			// only one button, center it
			justify-content: center;
			border-bottom: 1px solid var(--color-border);
			opacity: 1 !important;
			background-color: transparent;
		}

		.mx-time-column {
			border-left: 1px solid var(--color-border);
		}

		.mx-time-option,
		.mx-time-item {
			&.active {
				background-color: var(--color-primary-element);
				color: var(--color-primary-element-text);
			}

			&:hover {
				background-color: var(--color-background-hover);
				color: var(--color-main-text);
			}

			&.disabled {
				cursor: not-allowed;
				opacity: $opacity_disabled;
				color: var(--color-main-text);
			}
		}
	}
}
