/**
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
@import 'default.css';
@import 'dark.css';
@import 'server.css';
@import 'apps.css';

div[data-preview] * {
	box-sizing: border-box;
}

body {
	position: relative;
}

div[data-preview="AppNavigationItem"],
div[data-preview="AppNavigationCaption"] {
	width: auto;
}

div[data-preview="AppNavigationItem"] > div,
div[data-preview="AppNavigationCaption"] > div {
	width: 300px;
}
