@import url('https://nextcloud.github.io/server/apps/theming/css/default.css');
@import url('https://nextcloud.github.io/server/core/css/server.css');

div[data-preview] * {
	box-sizing: border-box;
}

body {
	line-height: 1.5 !important;
}

div[data-preview="AppNavigationItem"],
div[data-preview="AppNavigationCaption"] {
	width: auto;
}

div[data-preview="AppNavigationItem"] > div,
div[data-preview="AppNavigationCaption"] > div {
	width: 300px;
}
