/*!
 * SPDX-FileCopyrightText: 2017 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

#rsg-root {
	height: 100%;
}

#rsg-root .rsg--root-1 {
	height: 100%;
	overflow: scroll;
}
