:root {
	--color-main-text: #222;
	--color-main-background: #fff;
	--color-main-background-translucent: rgba(255, 255, 255, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: whitesmoke;
	--color-background-dark: #ededed;
	--color-background-darker: #dbdbdb;
	--color-placeholder-light: #e6e6e6;
	--color-placeholder-dark: #ccc;
	--color-primary: #0082c9;
	--color-primary-hover: #339bd4;
	--color-primary-light: #e6f3fa;
	--color-primary-light-hover: #dce8ef;
	--color-primary-text: #ffffff;
	--color-primary-light-text: #0082c9;
	--color-primary-text-dark: #ededed;
	--color-primary-element: #0082c9;
	--color-primary-element-hover: #339bd4;
	--color-primary-element-light: #17adff;
	--color-primary-element-lighter: #d9ecf7;
	--color-error: #e9322d;
	--color-error-hover: #ed5b57;
	--color-warning: #eca700;
	--color-warning-hover: #f0b933;
	--color-success: #46ba61;
	--color-success-hover: #6bc881;
	--color-text-maxcontrast: #767676;
	--color-text-light: #222;
	--color-text-lighter: #767676;
	/* --image-logo: url(/core/img/logo/logo.png?v=0);
	--image-login-background: url(/core/img/background.png?v=0);
	--image-logoheader: url(/core/img/logo/logo.png?v=0);
	--image-favicon: url(/core/img/logo/logo.png?v=0); */
	--color-loading-light: #ccc;
	--color-loading-dark: #444;
	--color-box-shadow: rgba(77, 77, 77, 0.5);
	--color-border: #ededed;
	--color-border-dark: #dbdbdb;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Cantarell, Ubuntu, 'Helvetica Neue', Arial, 'Noto Color Emoji', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}

.bright,
.dark {
	background: var(--color-main-background);
	color: var(--color-main-text);
	padding: 5px;
}

.dark-0082c9 {
	--color-main-text: #d8d8d8;
	--color-main-background: #181818;
	--color-main-background-translucent: rgba(24, 24, 24, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: #222;
	--color-background-dark: #2a2a2a;
	--color-background-darker: #3c3c3c;
	--color-placeholder-light: #323232;
	--color-placeholder-dark: #4b4b4b;
	--color-primary: #0082c9;
	--color-primary-hover: #056da6;
	--color-primary-light: #16232a;
	--color-primary-light-hover: #202c33;
	--color-primary-text: #ffffff;
	--color-primary-light-text: #0082c9;
	--color-primary-text-dark: #ededed;
	--color-primary-element: #0082c9;
	--color-primary-element-hover: #056da6;
	--color-primary-element-light: #17adff;
	--color-primary-element-lighter: #182e3b;
	--color-error: #e9322d;
	--color-error-hover: #bf2d29;
	--color-warning: #eca700;
	--color-warning-hover: #c28a05;
	--color-success: #46ba61;
	--color-success-hover: #3d9a52;
	--color-text-maxcontrast: #8c8c8c;
	--color-text-light: #d8d8d8;
	--color-text-lighter: #8c8c8c;
	--color-loading-light: #777;
	--color-loading-dark: #ccc;
	--color-box-shadow: rgba(0, 0, 0, 0.5);
	--color-border: #2a2a2a;
	--color-border-dark: #3c3c3c;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}

.bright-000000 {
	--color-main-text: #222;
	--color-main-background: #fff;
	--color-main-background-translucent: rgba(255, 255, 255, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: whitesmoke;
	--color-background-dark: #ededed;
	--color-background-darker: #dbdbdb;
	--color-placeholder-light: #e6e6e6;
	--color-placeholder-dark: #ccc;
	--color-primary: #000000;
	--color-primary-hover: #333;
	--color-primary-light: #e6e6e6;
	--color-primary-light-hover: gainsboro;
	--color-primary-text: #ffffff;
	--color-primary-light-text: #000000;
	--color-primary-text-dark: #ededed;
	--color-primary-element: #000000;
	--color-primary-element-hover: #333;
	--color-primary-element-light: #262626;
	--color-primary-element-lighter: #dedede;
	--color-error: #e9322d;
	--color-error-hover: #ed5b57;
	--color-warning: #eca700;
	--color-warning-hover: #f0b933;
	--color-success: #46ba61;
	--color-success-hover: #6bc881;
	--color-text-maxcontrast: #767676;
	--color-text-light: #222;
	--color-text-lighter: #767676;
	--color-loading-light: #ccc;
	--color-loading-dark: #444;
	--color-box-shadow: rgba(77, 77, 77, 0.5);
	--color-border: #ededed;
	--color-border-dark: #dbdbdb;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}

.dark-000000 {
	--color-main-text: #d8d8d8;
	--color-main-background: #181818;
	--color-main-background-translucent: rgba(24, 24, 24, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: #222;
	--color-background-dark: #2a2a2a;
	--color-background-darker: #3c3c3c;
	--color-placeholder-light: #323232;
	--color-placeholder-dark: #4b4b4b;
	--color-primary: #000000;
	--color-primary-hover: #050505;
	--color-primary-light: #161616;
	--color-primary-light-hover: #202020;
	--color-primary-text: #ffffff;
	--color-primary-light-text: #000000;
	--color-primary-text-dark: #ededed;
	--color-primary-element: #000000;
	--color-primary-element-hover: #050505;
	--color-primary-element-light: #262626;
	--color-primary-element-lighter: #1a1a1a;
	--color-error: #e9322d;
	--color-error-hover: #bf2d29;
	--color-warning: #eca700;
	--color-warning-hover: #c28a05;
	--color-success: #46ba61;
	--color-success-hover: #3d9a52;
	--color-text-maxcontrast: #8c8c8c;
	--color-text-light: #d8d8d8;
	--color-text-lighter: #8c8c8c;
	--color-loading-light: #777;
	--color-loading-dark: #ccc;
	--color-box-shadow: rgba(0, 0, 0, 0.5);
	--color-border: #2a2a2a;
	--color-border-dark: #3c3c3c;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}

.bright-ffffff {
	--color-main-text: #222;
	--color-main-background: #fff;
	--color-main-background-translucent: rgba(255, 255, 255, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: whitesmoke;
	--color-background-dark: #ededed;
	--color-background-darker: #dbdbdb;
	--color-placeholder-light: #e6e6e6;
	--color-placeholder-dark: #ccc;
	--color-primary: #ffffff;
	--color-primary-hover: white;
	--color-primary-light: white;
	--color-primary-light-hover: #f4f4f4;
	--color-primary-text: #000000;
	--color-primary-light-text: #aaaaaa;
	--color-primary-text-dark: black;
	--color-primary-element: #aaaaaa;
	--color-primary-element-hover: #bbb;
	--color-primary-element-light: #d0d0d0;
	--color-primary-element-lighter: #f8f8f8;
	--color-error: #e9322d;
	--color-error-hover: #ed5b57;
	--color-warning: #eca700;
	--color-warning-hover: #f0b933;
	--color-success: #46ba61;
	--color-success-hover: #6bc881;
	--color-text-maxcontrast: #767676;
	--color-text-light: #222;
	--color-text-lighter: #767676;
	--color-loading-light: #ccc;
	--color-loading-dark: #444;
	--color-box-shadow: rgba(77, 77, 77, 0.5);
	--color-border: #ededed;
	--color-border-dark: #dbdbdb;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}

.dark-ffffff {
	--color-main-text: #d8d8d8;
	--color-main-background: #181818;
	--color-main-background-translucent: rgba(24, 24, 24, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: #222;
	--color-background-dark: #2a2a2a;
	--color-background-darker: #3c3c3c;
	--color-placeholder-light: #323232;
	--color-placeholder-dark: #4b4b4b;
	--color-primary: #ffffff;
	--color-primary-hover: #d1d1d1;
	--color-primary-light: #2f2f2f;
	--color-primary-light-hover: #373737;
	--color-primary-text: #000000;
	--color-primary-light-text: #aaaaaa;
	--color-primary-text-dark: black;
	--color-primary-element: #aaaaaa;
	--color-primary-element-hover: #8d8d8d;
	--color-primary-element-light: #d0d0d0;
	--color-primary-element-lighter: #343434;
	--color-error: #e9322d;
	--color-error-hover: #bf2d29;
	--color-warning: #eca700;
	--color-warning-hover: #c28a05;
	--color-success: #46ba61;
	--color-success-hover: #3d9a52;
	--color-text-maxcontrast: #8c8c8c;
	--color-text-light: #d8d8d8;
	--color-text-lighter: #8c8c8c;
	--color-loading-light: #777;
	--color-loading-dark: #ccc;
	--color-box-shadow: rgba(0, 0, 0, 0.5);
	--color-border: #2a2a2a;
	--color-border-dark: #3c3c3c;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}


.bright-FFCFCF {
	--color-main-text: #222;
	--color-main-background: #fff;
	--color-main-background-translucent: rgba(255, 255, 255, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: whitesmoke;
	--color-background-dark: #ededed;
	--color-background-darker: #dbdbdb;
	--color-placeholder-light: #e6e6e6;
	--color-placeholder-dark: #ccc;
	--color-primary: #FFCFCF;
	--color-primary-hover: #ffd9d9;
	--color-primary-light: snow;
	--color-primary-light-hover: #f4efef;
	--color-primary-text: #000000;
	--color-primary-light-text: #aaaaaa;
	--color-primary-text-dark: black;
	--color-primary-element: #aaaaaa;
	--color-primary-element-hover: #bbb;
	--color-primary-element-light: #d0d0d0;
	--color-primary-element-lighter: #f8f8f8;
	--color-error: #e9322d;
	--color-error-hover: #ed5b57;
	--color-warning: #eca700;
	--color-warning-hover: #f0b933;
	--color-success: #46ba61;
	--color-success-hover: #6bc881;
	--color-text-maxcontrast: #767676;
	--color-text-light: #222;
	--color-text-lighter: #767676;
	--color-loading-light: #ccc;
	--color-loading-dark: #444;
	--color-box-shadow: rgba(77, 77, 77, 0.5);
	--color-border: #ededed;
	--color-border-dark: #dbdbdb;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}


.dark-FFCFCF {
	--color-main-text: #d8d8d8;
	--color-main-background: #181818;
	--color-main-background-translucent: rgba(24, 24, 24, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: #222;
	--color-background-dark: #2a2a2a;
	--color-background-darker: #3c3c3c;
	--color-placeholder-light: #323232;
	--color-placeholder-dark: #4b4b4b;
	--color-primary: #FFCFCF;
	--color-primary-hover: #d1aaaa;
	--color-primary-light: #2f2a2a;
	--color-primary-light-hover: #373333;
	--color-primary-text: #000000;
	--color-primary-light-text: #aaaaaa;
	--color-primary-text-dark: black;
	--color-primary-element: #aaaaaa;
	--color-primary-element-hover: #8d8d8d;
	--color-primary-element-light: #d0d0d0;
	--color-primary-element-lighter: #343434;
	--color-error: #e9322d;
	--color-error-hover: #bf2d29;
	--color-warning: #eca700;
	--color-warning-hover: #c28a05;
	--color-success: #46ba61;
	--color-success-hover: #3d9a52;
	--color-text-maxcontrast: #8c8c8c;
	--color-text-light: #d8d8d8;
	--color-text-lighter: #8c8c8c;
	--color-loading-light: #777;
	--color-loading-dark: #ccc;
	--color-box-shadow: rgba(0, 0, 0, 0.5);
	--color-border: #2a2a2a;
	--color-border-dark: #3c3c3c;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}


.bright-FF9896 {
	--color-main-text: #222;
	--color-main-background: #fff;
	--color-main-background-translucent: rgba(255, 255, 255, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: whitesmoke;
	--color-background-dark: #ededed;
	--color-background-darker: #dbdbdb;
	--color-placeholder-light: #e6e6e6;
	--color-placeholder-dark: #ccc;
	--color-primary: #FF9896;
	--color-primary-hover: #ffadab;
	--color-primary-light: #fff5f5;
	--color-primary-light-hover: #f4eaea;
	--color-primary-text: #000000;
	--color-primary-light-text: #FF9896;
	--color-primary-text-dark: black;
	--color-primary-element: #FF9896;
	--color-primary-element-hover: #ffadab;
	--color-primary-element-light: #ffe3e3;
	--color-primary-element-lighter: #fffbfb;
	--color-error: #e9322d;
	--color-error-hover: #ed5b57;
	--color-warning: #eca700;
	--color-warning-hover: #f0b933;
	--color-success: #46ba61;
	--color-success-hover: #6bc881;
	--color-text-maxcontrast: #767676;
	--color-text-light: #222;
	--color-text-lighter: #767676;
	--color-loading-light: #ccc;
	--color-loading-dark: #444;
	--color-box-shadow: rgba(77, 77, 77, 0.5);
	--color-border: #ededed;
	--color-border-dark: #dbdbdb;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}


.dark-FF9896 {
	--color-main-text: #d8d8d8;
	--color-main-background: #181818;
	--color-main-background-translucent: rgba(24, 24, 24, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: #222;
	--color-background-dark: #2a2a2a;
	--color-background-darker: #3c3c3c;
	--color-placeholder-light: #323232;
	--color-placeholder-dark: #4b4b4b;
	--color-primary: #FF9896;
	--color-primary-hover: #d17e7d;
	--color-primary-light: #2f2525;
	--color-primary-light-hover: #372e2e;
	--color-primary-text: #000000;
	--color-primary-light-text: #FF9896;
	--color-primary-text-dark: black;
	--color-primary-element: #FF9896;
	--color-primary-element-hover: #d17e7d;
	--color-primary-element-light: #ffe3e3;
	--color-primary-element-lighter: #3b3636;
	--color-error: #e9322d;
	--color-error-hover: #bf2d29;
	--color-warning: #eca700;
	--color-warning-hover: #c28a05;
	--color-success: #46ba61;
	--color-success-hover: #3d9a52;
	--color-text-maxcontrast: #8c8c8c;
	--color-text-light: #d8d8d8;
	--color-text-lighter: #8c8c8c;
	--color-loading-light: #777;
	--color-loading-dark: #ccc;
	--color-box-shadow: rgba(0, 0, 0, 0.5);
	--color-border: #2a2a2a;
	--color-border-dark: #3c3c3c;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}


.bright-470404 {
	--color-main-text: #222;
	--color-main-background: #fff;
	--color-main-background-translucent: rgba(255, 255, 255, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: whitesmoke;
	--color-background-dark: #ededed;
	--color-background-darker: #dbdbdb;
	--color-placeholder-light: #e6e6e6;
	--color-placeholder-dark: #ccc;
	--color-primary: #470404;
	--color-primary-hover: #6c3636;
	--color-primary-light: #ede6e6;
	--color-primary-light-hover: #e3dcdc;
	--color-primary-text: #ffffff;
	--color-primary-light-text: #470404;
	--color-primary-text-dark: #ededed;
	--color-primary-element: #470404;
	--color-primary-element-hover: #6c3636;
	--color-primary-element-light: #8f0808;
	--color-primary-element-lighter: #eedada;
	--color-error: #e9322d;
	--color-error-hover: #ed5b57;
	--color-warning: #eca700;
	--color-warning-hover: #f0b933;
	--color-success: #46ba61;
	--color-success-hover: #6bc881;
	--color-text-maxcontrast: #767676;
	--color-text-light: #222;
	--color-text-lighter: #767676;
	--color-loading-light: #ccc;
	--color-loading-dark: #444;
	--color-box-shadow: rgba(77, 77, 77, 0.5);
	--color-border: #ededed;
	--color-border-dark: #dbdbdb;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}


.dark-470404 {
	--color-main-text: #d8d8d8;
	--color-main-background: #181818;
	--color-main-background-translucent: rgba(24, 24, 24, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: #222;
	--color-background-dark: #2a2a2a;
	--color-background-darker: #3c3c3c;
	--color-placeholder-light: #323232;
	--color-placeholder-dark: #4b4b4b;
	--color-primary: #470404;
	--color-primary-hover: #3e0808;
	--color-primary-light: #1d1616;
	--color-primary-light-hover: #262020;
	--color-primary-text: #ffffff;
	--color-primary-light-text: #470404;
	--color-primary-text-dark: #ededed;
	--color-primary-element: #470404;
	--color-primary-element-hover: #3e0808;
	--color-primary-element-light: #8f0808;
	--color-primary-element-lighter: #2a1616;
	--color-error: #e9322d;
	--color-error-hover: #bf2d29;
	--color-warning: #eca700;
	--color-warning-hover: #c28a05;
	--color-success: #46ba61;
	--color-success-hover: #3d9a52;
	--color-text-maxcontrast: #8c8c8c;
	--color-text-light: #d8d8d8;
	--color-text-lighter: #8c8c8c;
	--color-loading-light: #777;
	--color-loading-dark: #ccc;
	--color-box-shadow: rgba(0, 0, 0, 0.5);
	--color-border: #2a2a2a;
	--color-border-dark: #3c3c3c;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}

.bright-170101 {
	--color-main-text: #222;
	--color-main-background: #fff;
	--color-main-background-translucent: rgba(255, 255, 255, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: whitesmoke;
	--color-background-dark: #ededed;
	--color-background-darker: #dbdbdb;
	--color-placeholder-light: #e6e6e6;
	--color-placeholder-dark: #ccc;
	--color-primary: #170101;
	--color-primary-hover: #453434;
	--color-primary-light: #e8e6e6;
	--color-primary-light-hover: #dedcdc;
	--color-primary-text: #ffffff;
	--color-primary-light-text: #170101;
	--color-primary-text-dark: #ededed;
	--color-primary-element: #170101;
	--color-primary-element-hover: #453434;
	--color-primary-element-light: #600404;
	--color-primary-element-lighter: #e7d9d9;
	--color-error: #e9322d;
	--color-error-hover: #ed5b57;
	--color-warning: #eca700;
	--color-warning-hover: #f0b933;
	--color-success: #46ba61;
	--color-success-hover: #6bc881;
	--color-text-maxcontrast: #767676;
	--color-text-light: #222;
	--color-text-lighter: #767676;
	--color-loading-light: #ccc;
	--color-loading-dark: #444;
	--color-box-shadow: rgba(77, 77, 77, 0.5);
	--color-border: #ededed;
	--color-border-dark: #dbdbdb;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}


.dark-170101 {
	--color-main-text: #d8d8d8;
	--color-main-background: #181818;
	--color-main-background-translucent: rgba(24, 24, 24, 0.97);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: #222;
	--color-background-dark: #2a2a2a;
	--color-background-darker: #3c3c3c;
	--color-placeholder-light: #323232;
	--color-placeholder-dark: #4b4b4b;
	--color-primary: #170101;
	--color-primary-hover: #170606;
	--color-primary-light: #181616;
	--color-primary-light-hover: #222020;
	--color-primary-text: #ffffff;
	--color-primary-light-text: #170101;
	--color-primary-text-dark: #ededed;
	--color-primary-element: #170101;
	--color-primary-element-hover: #170606;
	--color-primary-element-light: #600404;
	--color-primary-element-lighter: #231515;
	--color-error: #e9322d;
	--color-error-hover: #bf2d29;
	--color-warning: #eca700;
	--color-warning-hover: #c28a05;
	--color-success: #46ba61;
	--color-success-hover: #3d9a52;
	--color-text-maxcontrast: #8c8c8c;
	--color-text-light: #d8d8d8;
	--color-text-lighter: #8c8c8c;
	--color-loading-light: #777;
	--color-loading-dark: #ccc;
	--color-box-shadow: rgba(0, 0, 0, 0.5);
	--color-border: #2a2a2a;
	--color-border-dark: #3c3c3c;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, sans-serif, Noto Color Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}
