:root {
	--color-main-text: #222;
	--color-main-background: #fff;
	--color-main-background-translucent: rgba(255, 255, 255, 1);
	--color-background-hover: #f5f5f5;
	--color-background-dark: #ededed;
	--color-background-darker: #dbdbdb;
	--color-placeholder-light: #e6e6e6;
	--color-placeholder-dark: #ccc;
	--color-primary: #0082c9;
	--color-primary-light: #fbf0f4;
	--color-primary-text: #fff;
	--color-primary-text-dark: #ededed;
	--color-primary-element: #0082c9;
	--color-primary-element-light: #17adff;
	--color-primary-light: #e6f3fa;
	--color-error: #e9322d;
	--color-warning: #eca700;
	--color-success: #46ba61;
	--color-text-maxcontrast: #767676;
	--color-text-light: #222;
	--color-text-lighter: #767676;
	/* --image-logo: url('/core/img/logo/logo.png?v=12');
	--image-login-background: url('/core/img/background.png?v=12');
	--image-logoheader: url('/core/img/logo/logo.png?v=12');
	--image-favicon: url('/core/img/logo/logo.png?v=12'); */
	--color-loading-light: #ccc;
	--color-loading-dark: #444;
	--color-box-shadow: rgba(77, 77, 77, 0.5);
	--color-border: #ededed;
	--color-border-dark: #dbdbdb;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--font-face: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Cantarell, Ubuntu, 'Helvetica Neue', Arial, 'Noto Color Emoji', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--default-font-size: 15px;
	--default-line-height: 24px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--header-height: 50px;
}
  