language: node_js
cache:
  directories:
  - node_modules
node_js:
- node
script:
- npm rebuild node-sass
- npm run build
- npm run lint
deploy:
  provider: npm
  skip_cleanup: true
  email: skjnldsv@protonmail.com
  on:
    tags: true
  api_key:
    secure: LMHybbz8bRwu7/IBRsRD8m9g3Irbdx6aJ2f38LGY3KshT5awjA0qiTNn2WqZ6CdupfaPwxCcZ7vy+sKKLdfHxtO3RaJtHfzPeuKDWSEeIt+2U0PfAlnhF0WiJmhFvizJ422YG50/bm+SEmWBIWGQQpmqwXTuQ0uwYaYqLK2zJX31ARX3Jkhu76bkVzTeQOLqxkE0TfQqJIdbyUl6lF7POVGta/J8j8/ZjbEwo/PJbsR1ExWQEEl3VEWkGn8o36glDHVgYao7ez4jqjeA+r23K8FzHWg9kZisrC/eqkdP/bBJiSCpfsbjk4pZh6AHYUPzRoUFw2Yhkkiy3XHnGcJp6K7a0NvPIWFRfcmWqtsGWY/B/XNygoIlt6+/NI3KoBC0bQd3tq9C7KpkmJ9OGrfgV737Zcc2PY0sbOsX6zgSYG6wxtoXNWU32yX2W8+oamB9kEDw8/hv1+lMPmmA8HKYwb8F61aJ8AvdwtrfXgr4Geyef+j6NCXhJPVAVHrF1Eez5SdLeFVDLj32Fl0Vs9L8DXNR7i1U7jhUFjJc5D4h1fSq6ykbG4kXZdWVxBascjKs9EbbJW6xIwHmGxRb45jz6m1OX+5vJdVYExlV8sHTIIc0CmIAmSGHSC72xnAH2iINqoaIVZ+BMikCdrzTDvZ+WJ5MpdQ52PNAfm5G+MTRAUM=
