/**
 * SPDX-FileCopyrightText: 2011-2015 Twitter, Inc.
 * SPDX-FileCopyrightText: 2015-2016 Owncloud, Inc.
 * SPDX-FileCopyrightText: 2016-2024 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: MIT
 */

$arrow-width: 10px;

.v-popper--theme-tooltip {
	&.v-popper__popper {
		position: absolute;
		z-index: 100000;
		top: 0;
		right: auto;
		left: auto;
		display: block;
		margin: 0;
		padding: 0;
		text-align: left;
		text-align: start;
		opacity: 0;
		line-height: 1.6;

		line-break: auto;
		filter: drop-shadow(0 1px 10px var(--color-box-shadow));

		// TOP
		&[data-popper-placement^='top'] .v-popper__arrow-container {
			bottom: -$arrow-width;
			border-bottom-width: 0;
			border-top-color: var(--color-main-background);
		}

		// BOTTOM
		&[data-popper-placement^='bottom'] .v-popper__arrow-container {
			top: -$arrow-width;
			border-top-width: 0;
			border-bottom-color: var(--color-main-background);
		}

		// RIGHT
		&[data-popper-placement^='right'] .v-popper__arrow-container {
			right: 100%;
			border-left-width: 0;
			border-right-color: var(--color-main-background);
		}

		// LEFT
		&[data-popper-placement^='left'] .v-popper__arrow-container {
			left: 100%;
			border-right-width: 0;
			border-left-color: var(--color-main-background);
		}

		// HIDDEN / SHOWN
		&[aria-hidden='true'] {
			visibility: hidden;
			transition: opacity .15s, visibility .15s;
			opacity: 0;
		}
		&[aria-hidden='false'] {
			visibility: visible;
			transition: opacity .15s;
			opacity: 1;
		}
	}

	// CONTENT
	.v-popper__inner {
		max-width: 350px;
		padding: 5px 8px;
		text-align: center;
		color: var(--color-main-text);
		border-radius: var(--border-radius);
		background-color: var(--color-main-background);
	}

	// ARROW
	.v-popper__arrow-container {
		position: absolute;
		z-index: 1;
		width: 0;
		height: 0;
		margin: 0;
		border-style: solid;
		border-color: transparent;
		border-width: $arrow-width;
	}
}
