$opacity_disabled: .5;
$opacity_normal: .7;
$opacity_full: 1;


.mx-datepicker[data-v-#{$scope_version}] {
	width: 210px;
	color: inherit;
	font: inherit;
	user-select: none;

	.mx-datepicker-popup {
		box-shadow: none;
	}

	// Range selectors
	.mx-shortcuts-wrapper {
		.mx-shortcuts {
			font-weight: normal;
			color: var(--color-text-lighter);
			&:hover {
				color: var(--color-text-light);
			}
			// divider
			&:after {
				color: var(--color-text-lighter);
				opacity: $opacity_normal;
			}
		}
	}

	// Confirm button
	.mx-datepicker-btn-confirm {
		background-color: var(--color-primary-element);
		color: var(--color-primary-text);
		&:hover {
			color: var(--color-primary-text);
			border-color: var(--color-primary-element);
		}
	}

	// global design rule
	.mx-calendar {
		font: inherit;
		color: var(--color-main-text);
	}

	// Headers: year, month and arrows
	.mx-calendar-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		> a {
			color: var(--color-text-lighter);
			padding: 7px 10px;
			border-radius: 30px;
			height: 34px;
			line-height: 22px;
			min-width: 22px;
			&.mx-icon-last-year,
			&.mx-icon-last-month,
			&.mx-icon-next-month,
			&.mx-icon-next-year {
				background-position: center;
				background-repeat: no-repeat;
				font-size: 0;
				opacity: .5;
			}
			&.mx-icon-last-year {
				background-image: url(../../assets/arrow-left-double.svg);
			}
			&.mx-icon-last-month {
				background-image: url(../../assets/arrow-left.svg);
			}
			&.mx-icon-next-month {
				background-image: url(../../assets/arrow-right.svg);
				// arrows are all before month and year
				// send them to the end of the row
				order: 3;
			}
			&.mx-icon-next-year {
				background-image: url(../../assets/arrow-right-double.svg);
				// arrows are all before month and year
				// send them to the end of the row
				order: 4;
			}
			&:hover,
			&:focus {
				opacity: 1;
				color: var(--color-main-text);
				background-color: var(--color-background-darker);
			}
		}
	}

	.mx-calendar-content {
		// regular cell style
		.cell {
			opacity: $opacity_normal;
			border-radius: 50px;
			transition: all 100ms ease-in-out;
			// Selected and mouse event
			&:hover,
			&:focus,
			&.actived {
				font-weight: bold;
				opacity: $opacity_full;
				color: var(--color-primary-text);
				background-color: var(--color-primary-element);
			}
			&.inrange {
				background-color: transparent;
			}
			&.disabled {
				color: var(--color-text-lighter);
				background-color: var(--color-background-darker);
				opacity: $opacity_disabled;
				border-radius: 0;
				font-weight: normal;
			}	
		}
	}

	.mx-panel-date {
		// Rows: do not change on mouse event
		tr:hover,
		tr:focus,
		tr:active {
			background: none;
		}
		// Days of the week
		th {
			color: var(--color-text-lighter);
			opacity: .5;
		}
		// Days number
		td {
			&.today {
				color: var(--color-primary);
				opacity: 1;
				font-weight: bold;
			}
			&.last-month,
			&.next-month {
				color: var(--color-text-lighter);
				opacity: $opacity_disabled;
			}
		}
	}

	.mx-time-list {
		padding: 5px;
		li {
			display: flex;
			justify-content: center;
			margin-bottom: 1px;
		}
		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--color-background-darker);
			border-radius: var(--border-radius);
			box-shadow: none;
		}
		&:hover::-webkit-scrollbar-thumb {
			background-color: var(--color-background-darker);
		}
	}
}
