.mx-datepicker {
	width: 210px;
	color: inherit;
	font: inherit;
}

.mx-shortcuts-wrapper {
	.mx-shortcuts {
		&:hover {
			color: var(--color-text-light);
		}
		&:after {
			color: var(--color-text-lighter);
		}
	}
}

.mx-datepicker-btn {
	background-color: var(--color-primary-element);
}

.mx-datepicker-btn-confirm {
	color: var(--color-primary-text);
	&:hover {
		color: var(--color-primary-text);
		border-color: var(--color-primary-element-light);
	}
}

.mx-calendar {
	font: inherit;
}

.mx-calendar-header {
	> a {
		&:hover {
			color: var(--color-primary-text);
		}
	}
}

.mx-calendar-content {
	.cell {
		&:hover {
			background-color: var(--color-primary-element-light);
			font-weight: bold;
		}
		&.actived {
			border-radius: 50px;
			color: var(--color-primary-text);
			background-color: var(--color-primary-element);
		}
		&.inrange {
			background-color: unset;
		}
		&.disabled {
			color:var(--color-text-lighter);
			background-color: var(--color-background-darker);
		}  
	}
}

.mx-panel-date {
	td {
		&.today {
			color: var(--color-primary-text);
		}
		&.last-month,
		&.next-month {
			color: var(--color-primary-element-light);
		}
	}
}

.mx-time-list {
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
	}

	&:hover::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.2);
	}
}