/**
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@mixin action-active {
	li.action {
		&.active {
			background-color: var(--color-background-hover);
			border-radius: 6px;
			padding: 0;
		}
	}
}

@mixin action--disabled {
	.action--disabled {
		pointer-events: none;
		opacity: $opacity_disabled;
		&:hover, &:focus {
			cursor: default;
			opacity: $opacity_disabled;
		}
		& * {
			opacity: 1 !important;
		}
	}
}


@mixin action-item($name) {
	.action-#{$name} {
		display: flex;
		align-items: flex-start;

		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		padding-right: $icon-margin;
		box-sizing: border-box; // otherwise router-link overflows in Firefox

		cursor: pointer;
		white-space: nowrap;

		color: var(--color-main-text);
		border: 0;
		border-radius: 0; // otherwise Safari will cut the border-radius area
		background-color: transparent;
		box-shadow: none;

		font-weight: normal;
		font-size: var(--default-font-size);
		line-height: $clickable-area;

		& > span {
			cursor: pointer;
			white-space: nowrap;
		}

		&__icon {
			width: $clickable-area;
			height: $clickable-area;
			opacity: $opacity_full;
			background-position: $icon-margin center;
			background-size: $icon-size;
			background-repeat: no-repeat;
		}

		&:deep(.material-design-icon) {
			width: $clickable-area;
			height: $clickable-area;
			opacity: $opacity_full;

			.material-design-icon__svg {
				vertical-align: middle;
			}
		}

		// long text area
		&__longtext-wrapper,
		&__longtext {
			max-width: 220px;
			line-height: 1.6em;

			// 14px are currently 1em line-height. Mixing units as '44px - 1.6em' does not work.
			padding: #{math.div($clickable-area - 1.6 * 14px, 2)} 0;

			cursor: pointer;
			text-align: left;

			// in case there are no spaces like long email addresses
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&__longtext {
			cursor: pointer;
			// allow the use of `\n`
			white-space: pre-wrap !important;
		}

		&__name {
			font-weight: bold;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			max-width: 100%;
			display: inline-block;
		}

		&__menu-icon {
			// Push to the right
			margin-left: auto;
			// Align with right end of the button
			// This is the padding-right
			margin-right: -$icon-margin;
		}
	}
}
