@use 'sass:math';

/**
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
// background icon size
// also used for the scss icon font
$icon-size: 16px;

// icon padding for a var(--default-clickable-area) width and a $icon-size icon
// ( 34px - 16px ) / 2
$icon-margin: calc((var(--default-clickable-area) - $icon-size) / 2);

// transparency background for icons
$icon-focus-bg: rgba(127, 127, 127, .25);

// popovermenu arrow width from the triangle center
$arrow-width: 9px;

// opacities
$opacity_disabled: .5;
$opacity_normal: .7;
$opacity_full: 1;

// menu round background hover feedback
// good looking on dark AND white bg
$action-background-hover: rgba(127, 127, 127, .25);

// various structure data used in the 
// `AppNavigation` component
$navigation-width: 300px;

// mobile breakpoint
$breakpoint-mobile: 1024px;
$breakpoint-small-mobile: math.div($breakpoint-mobile, 2);

// navigation spacing
$app-navigation-settings-margin: 3px;

// navigation items
$app-navigation-padding: calc(var(--default-grid-baseline, 4px) * 2);
