/**
 * SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/**
 * Styles are extracted to extract scss to dist folder, too.
 */

@use './highlight.scss';

li.task-list-item > ul,
li.task-list-item > ol,
li.task-list-item > li,
li.task-list-item > blockquote,
li.task-list-item > pre {
	margin-inline-start: 15px;
	margin-block-end: 0;
 }


.rich-text--wrapper {
	word-break: break-word;
	line-height: 1.5;

	.rich-text--fallback, .rich-text-component {
		display: inline;
	}

	.rich-text--external-link {
		text-decoration: underline;
		&:after {
			content: ' ↗';
		}
	}
}

.rich-text--wrapper-markdown {
	div > *:first-child,
	blockquote > *:first-child {
		margin-top: 0 !important;
	}
	div > *:last-child,
	blockquote > *:last-child {
		margin-bottom: 0 !important;
	}

	h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre {
		margin-top: 0;
		margin-bottom: 1em;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h1 {
		font-size: 30px;
	}

	ul, ol {
		padding-left: 15px;
	}

	ul {
		list-style-type: disc;
	}

	ul.contains-task-list {
		list-style-type: none;
		padding: 0;
	}

	table {
		border-collapse: collapse;
		border: 2px solid var(--color-border-maxcontrast);

		th,
		td {
			padding: var(--default-grid-baseline);
			border: 1px solid var(--color-border-maxcontrast);
			&:first-child {
				border-left: 0;
			}
			&:last-child {
				border-right: 0;
			}
		}

		tr {
			&:first-child th {
				border-top: 0;
			}
			&:last-child td {
				border-bottom: 0;
			}
		}
	}

	blockquote {
		padding-left: 13px;
		border-left: 2px solid var(--color-border-dark);
		color: var(--color-text-lighter);
	}
}

/**
 * Highlight code syntax in code blocks
 */

/* stylelint-disable-next-line no-duplicate-selectors */
.rich-text--wrapper-markdown {
	@include highlight.highlight-rules;
}

@media (prefers-color-scheme: light) {
	.rich-text--wrapper-markdown {
		@include highlight.highlight-light-colors;
	}
	[data-theme-dark] .rich-text--wrapper-markdown {
		@include highlight.highlight-dark-colors;
	}
}

@media (prefers-color-scheme: dark) {
	.rich-text--wrapper-markdown {
		@include highlight.highlight-dark-colors;
	}
	[data-theme-light] .rich-text--wrapper-markdown {
		@include highlight.highlight-light-colors;
	}
}
