/**
 * Styles are extracted to extract scss to dist folder, too.
 */

.rich-text--wrapper {
	word-break: break-word;
	line-height: 1.5;

	.rich-text--fallback, .rich-text-component {
		display: inline;
	}

	.rich-text--external-link {
		text-decoration: underline;
		&:after {
			content: ' ↗';
		}
	}

	.rich-text--ordered-list {
		.rich-text--list-item {
			list-style: decimal;
		}
	}

	.rich-text--un-ordered-list {
		.rich-text--list-item {
			list-style: initial;
		}
	}

	.rich-text--list-item {
		white-space: initial;
		color: var(--color-text-light);
		padding: initial;
		margin-left: 20px;

		&.task-list-item {
			list-style: none;
			white-space: initial;
			color: var(--color-text-light);

			input {
				min-height: initial;
			}
		}
	}

	.rich-text--strong {
		white-space: initial;
		font-weight: bold;
		color: var(--color-text-light);
	}

	.rich-text--italic {
		white-space: initial;
		font-style: italic;
		color: var(--color-text-light);
	}

	.rich-text--heading {
		white-space: initial;
		font-size: initial;
		color: var(--color-text-light);
		margin-bottom: 5px;
		margin-top: 5px;
		font-weight: bold;

		&.rich-text--heading-1 {
			font-size: 20px;
		}

		&.rich-text--heading-2 {
			font-size: 19px;
		}

		&.rich-text--heading-3 {
			font-size: 18px;
		}

		&.rich-text--heading-4 {
			font-size: 17px;
		}

		&.rich-text--heading-5 {
			font-size: 16px;
		}

		&.rich-text--heading-6 {
			font-size: 15px;
		}
	}

	.rich-text--hr {
		border-top: 1px solid var(--color-border-dark);
		border-bottom: 0;
	}

	.rich-text--pre {
		border: 1px solid var(--color-border-dark);
		background-color: var(--color-background-dark);
		padding: 5px;
	}

	.rich-text--code {
		background-color: var(--color-background-dark);
	}

	.rich-text--blockquote {
		border-left: 3px solid var(--color-border-dark);
		padding-left: 5px;
	}

	.rich-text--table {
		border-collapse: collapse;

		thead tr th {
			border: 1px solid var(--color-border-dark);
			font-weight: bold;
			padding: 6px 13px;
		}

		tbody tr {
			td {
				border: 1px solid var(--color-border-dark);
				padding: 6px 13px;
			}

			&:nth-child(even) {
				background-color: var(--color-background-dark);
			}
		}
	}
}
