:root{
    --color-main-text:#222;
    --color-main-background:#fff;
    --color-main-background-translucent:rgba(255, 255, 255, 0.97);
    --color-background-dark:#ededed;--color-background-darker:#dbdbdb;--color-primary:#0082c9;--color-primary-text:#fff;--color-primary-text-dark:#ededed;--color-primary-element:#0082c9;--color-primary-element-light:#17adff;--color-error:#e9322d;--color-warning:#eca700;--color-success:#46ba61;--color-text-maxcontrast:#989898;--color-text-light:#484848;--color-text-lighter:#6f6f6f;--image-logo:url('/core/img/logo/logo.png?v=49');--image-login-background:url('/core/img/background.png?v=49');--color-loading-light:#ccc;--color-loading-dark:#444;--color-box-shadow:rgba(77, 77, 77, 0.5);--color-border:#ededed;--color-border-dark:#dbdbdb;--border-radius:3px;--border-radius-large:10px;--border-radius-pill:100px;--font-face:'Nunito', 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;--animation-quick:100ms
}

h1 {
    color: var(--color-primary);
}