# This workflow is provided via the organization template repository
#
# https://github.com/nextcloud-libraries/.github
# https://docs.github.com/en/actions/learn-github-actions/sharing-workflows-with-your-organization
#
# SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT

# Usage:
# /playwright-update        - update the snapshots and commit as a new commit
# /playwright-update fixup  - update but commit as a fixup commit
# /playwright-update amend  - update and commit as amended commit

name: Command update Playwright snapshots
on:
  issue_comment:
    types: [created]
permissions:
  contents: read

jobs:
  init:
    runs-on: ubuntu-latest

    # On pull requests and if the comment starts with `/update-snapshots`
    if: github.event.issue.pull_request != '' && startsWith(github.event.comment.body, '/update-snapshots')

    outputs:
      arg1: ${{ steps.command.outputs.arg1 }}
      head_ref: ${{ steps.comment-branch.outputs.head_ref }}

    steps:
      - name: Add reaction on start
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          repository: ${{ github.event.repository.full_name }}
          comment-id: ${{ github.event.comment.id }}
          reactions: '+1'

      - name: Parse command
        uses: skjnldsv/parse-command-comment@5c955203c52424151e6d0e58fb9de8a9f6a605a1 # v3.1.0
        id: command

      - name: Init branch
        uses: xt0rted/pull-request-comment-branch@e8b8daa837e8ea7331c0003c9c316a64c6d8b0b1 # v3.0.0
        id: comment-branch

  process:
    runs-on: ubuntu-latest
    needs: init

    steps:
      - name: Checkout ${{ needs.init.outputs.head_ref }}
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          ref: ${{ needs.init.outputs.head_ref }}
          # To push the changes
          persist-credentials: true
          token: ${{ secrets.COMMAND_BOT_PAT }}

      - name: Setup git
        run: |
          git config --local user.email "nextcloud-command@users.noreply.github.com"
          git config --local user.name "nextcloud-command"

      - name: Set up node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: package.json

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Update snapshots
        run: npm run update:snapshots

      - name: Commit and push default
        if: ${{ needs.init.outputs.arg1 != 'fixup' && needs.init.outputs.arg1 != 'amend' }}
        run: |
          git add .
          git commit --signoff -m 'test: update playwright snapshots'
          git push origin ${{ needs.init.outputs.head_ref }}

      - name: Commit and push fixup
        if: ${{ needs.init.outputs.arg1 == 'fixup' }}
        run: |
          git add .
          git commit --fixup=HEAD --signoff
          git push origin ${{ needs.init.outputs.head_ref }}

      - name: Commit and push amend
        if: ${{ needs.init.outputs.arg1 == 'amend' }}
        run: |
          git add .
          git commit --amend --no-edit --signoff
          git push --force origin ${{ needs.init.outputs.head_ref }}

      - name: Add reaction on failure
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        if: failure()
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          repository: ${{ github.event.repository.full_name }}
          comment-id: ${{ github.event.comment.id }}
          reaction-type: "-1"
