name: Cypress

on:
  pull_request:
  push:
    branches:
      - master
      - stable*

env:
  APP_NAME: nextcloud-vue

jobs:
  cypress:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        # run x copies of the current job in parallel
        containers: [1, 2]
        node-version: [16]

    name: Runner ${{ matrix.containers }}

    steps:
      - uses: actions/checkout@v3

      - name: Read package.json node and npm engines version
        uses: skjnldsv/read-package-engines-version-actions@v2
        id: versions
        with:
          fallbackNode: '^14'
          fallbackNpm: '^7'

      - name: Set up node ${{ steps.versions.outputs.nodeVersion }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ steps.versions.outputs.nodeVersion }}

      - name: Set up npm ${{ steps.versions.outputs.npmVersion }}
        run: npm i -g npm@"${{ steps.versions.outputs.npmVersion }}"

      - name: Install dependencies
        run: |
          npm ci

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          component: true
          install: false # we have already installed all dependencies above
          record: true
          parallel: true
          # cypress dashboard env
          tag: ${{ github.event_name }}
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # https://github.com/cypress-io/github-action/issues/124
          COMMIT_INFO_MESSAGE: ${{ github.event.pull_request.title }}
          # https://github.com/cypress-io/github-action/issues/524
          npm_package_name: ${{ env.APP_NAME }}

      - name: Upload snapshots
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: snapshots
          path: cypress/snapshots
