# SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT
name: Update server styling

on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *"

jobs:
  server-styling-update:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        branch: ['main', 'stable8']

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          ref: ${{ matrix.branch }}

      - name: Download css
        run: |
          cd styleguide/assets
          # Fix img css import
          curl https://nextcloud.github.io/server/apps/theming/css/default.css | sed 's|/apps/theming/img|./img|g' > default.css
          # Fix icons and img css import
          curl https://nextcloud.github.io/server/core/css/server.css | sed 's|../../dist/icons.css|./icons.css|g' | sed 's|../img|./img|g' > server.css
          curl https://nextcloud.github.io/server/core/css/apps.css | sed 's|../img|./img|g' > apps.css
          curl https://nextcloud.github.io/server/dist/icons.css --output icons.css

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          author: nextcloud-command <nextcloud-command@users.noreply.github.com>
          committer: nextcloud-command <nextcloud-command@users.noreply.github.com>
          commit-message: "chore(docs): update docs styling from server"
          signoff: true
          branch: 'automated/${{ github.run_id }}/server-styling-update-${{ matrix.branch }}'
          title: '[${{ matrix.branch }}] chore(docs): Automated styling update from server'
          add-paths: styleguide/assets
          body: |
            Auto-generated update of our locally cached css styling from
             * https://nextcloud.github.io/server/apps/theming/css/default.css
             * https://nextcloud.github.io/server/core/css/server.css
             * https://nextcloud.github.io/server/core/css/apps.css
             * https://nextcloud.github.io/server/dist/icons.css
          labels: |
            dependencies
            3. to review
